#root {
  --main-grey: #888686;
  --light-grey: #d6d6d6;

}


p {
  margin: 0;
}

body {
  font-family: avenir;
}


.App.hasFooter {
  padding-bottom: 90px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.search-input {
  color: var(--main-grey);
  font-size: 24px;
  border-style: none;
  border-radius: 4px;
  margin: 8px;
  padding-right: 30px;
  width: 240px;
  border: 1px solid var(--light-grey);
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-bottom: 1px solid #dedede;
  height: 50px;
  transition: .8s;
}

.search-wrapper.full {
  height: 100vh;
}

.search-form {
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.search-button {
  color: white;
  background: var(--main-grey);
  width: 80px;
  padding: 5px;
  font-size: 15px;
  font-family: avenir;
  border-radius: 4px;
  border: none;
}

.search-button-icon {
  border: none;
  background: none;
  width: 20px;
  right: 15px;
  fill: var(--main-grey);
  margin-left: -35px;
  width: 20px;
  padding: 0;
  cursor: pointer;
}

.search-prompt {
  color: var(--main-grey);
  display: inline-flex;
  margin: 0px 8px;
}

.header {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 5px;
}

.header-artist {
  font-size: 22px;
  color: var(--main-grey);
}

.header-addition-artist {
  font-size: 14px;
  color: var(--main-grey);
}

.header__text {
  display: inline-block;
}

.header__track-title {
  margin: 0;
  font-size: 30px;
  color: var(--main-grey);
}


.header__load-track-btn {
  width: 220px;
  height: 36px;
  background: white;
  color: var(--main-grey);
  border: 1px solid var(--light-grey);
  margin-top: 6px;
  border-radius: 30px;
  margin-bottom: 5px;
  font-size: 16px;
  vertical-align: text-bottom;
  display: block;
}

.feature-main_wrapper {
  margin: 0px auto;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  max-width: 900px;
}

.track-wrapper {
  border-bottom: 1px solid #d2d2d2;
    padding: 8px;
    color: #797979;
    font-family: avenir;
    cursor: pointer;
}

.rel-track__btn {
  width: 220px;
  height: 36px;
  background: white;
  color: var(--main-grey);
  border: 1px solid var(--light-grey);
  margin-top: 6px;
  border-radius: 30px;
  margin-bottom: 5px;
  font-size: 16px;
  vertical-align: text-bottom;
  display: inline-block;
}
.rel-track__btn:focus {
  outline:0;
}


.track-wrapper:hover {
  background: #33b9ff;
  color: white;
}

.track-artists {
  font-size: 12px;
}

.track-name {
  font-size: 16px;
}

.searchResults {
  max-width: 800px;
  margin: 0 auto;
}

.side-bar {
  grid-row-start: 3;
  grid-column-start: 1;
  margin: 0px 16px;
}

.track-features, .related-tracks {
  max-width: 900px;
  min-width: 300px;
  width: 100%;
  /* grid-row-start: 4; */
  margin: 0 auto;
}

.graph-bar {
  background: rgb(180,123,91);
  background: linear-gradient(90deg,hsl(213, 47%, 55%) 0%, hsl(166, 100%, 71%) 100%);

  border-radius:20px;
  height: 18px;
  display: inline-block;
  /* position: absolute;
  margin-left: 180px; */
  transition: width 0.5s;
}

.attribute {
  margin-right: 15px;
  text-align: right;
  font-size: 14px;
  color: var(--main-grey);
  align-self: center;
}

.feature-row {
  display: grid;
  padding: 4px 0px;
  grid-template-columns: auto auto 180px 1fr 50px;
  grid-template-rows: auto 1fr auto;
  border-bottom: 1px solid var(--light-grey);
  margin: 0px 25px;
}

.track-feature-row {
  display: grid;
  padding: 4px 0px;
  grid-template-columns: 15px 165px auto 1fr auto;
  grid-template-rows: 28px;
  border-bottom: 1px solid var(--light-grey);
  margin: 0px 25px;
}
/* .track-feature-row:hover .numerical {
  opacity: 1;
} */

.track-feature-row .svg__info {
  vertical-align: bottom;
}

.track-feature_info-wrapper {
  position: relative;
}

.track-feature_info-wrapper > .feature-description__wrapper {
  align-self: flex-end;
  border: 1px solid var(--light-grey);
  border-radius: 6px;
  padding: 7px;
  position: absolute;
  width: 300px;
  left: 0px;
  top: 25px;
  background: white;
  z-index: 500;
}

.numerical {
  font-size: 14px;
  align-self: center;
  color: var(--main-grey);
}


.track__img__wrapper {
  max-width: 200px;
  max-height: 200px;
}

.track__img {
  max-width: 100%;
  min-width: 120px;
}

.rel-track_name {
  margin: 0; 
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rel-track_val {
  font-size: 14px;
  align-self: center;
  color: var(--main-grey);
}

.rel-track_name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.rel-track_artist {
  margin: 0;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rel-track_text {
  width: 160px;
  min-width: 160px;
  margin-right: 15px;
  font-size: 14px;
  color: var(--main-grey);
}

.related-tracks .graph-bar {
  align-self: center;
}

.track-features .graph-bar {
  align-self: center;
}

.text-val {
  align-self: center;
  font-size: 14px;
  color:var(--main-grey)
}

.track-feature_checkbox-wrapper {
  display: flex;
}

.track-feature_checkbox {
  margin-right: 15px;
  align-self: center;
}

.feature-description {
  /* grid-row-start: 3; */
  padding: 6px 0px 6px 0px;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 25px;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 300px;
  width: 100%;
  padding-left: 90px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-right: 25px;
  /* background: #f3f3f3; */
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid var(--light-grey);
}

.feature-description__wrapper {
  align-self: flex-end;
  border: 1px solid var(--light-grey);
  border-radius: 6px;
  padding: 7px;
  position: absolute;
  width: 300px;
  right: 0px;
  top: 25px;
  background: white;
}


.feature__wrapper-outer {
  width: 100%;
}

.feature__wrapper {
  padding: 5px 0px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-popover {
  margin-left: auto;
  cursor: pointer;
  color: var(--main-grey);
}

.feature-description__top {
  display: flex;
}


/* 
.feature__select select {
  display: block;
} */

.feature__select-text {
  font-size: 14px;
  color: var(--main-grey);
}

.feature__select-dropdown {
  display: block;
  color: var(--main-grey);
  border: 1px solid var(--light-grey);
  background: white;
 }

.feature__select-svg__wrapper {
  margin-left: 10px;
  display: flex;
  height: 20px;
}

/* .feature__header-text {
  width: 200px;
} */

.feature__header-info-text {
  font-size: 20px;
  font-weight: 300;
  color: var(--main-grey);
  max-width: 300px;
}

.feature__header-info-track {
  font-size: 16px;
  font-weight: 300;
  color: var(--main-grey);
}

.feature-description__title {
  font-size: 16px;
  margin-top: 5px;
  color: var(--main-grey);
}

.feature-description__text {
  margin: 5px 0px;
  font-size: 12px;
  color: var(--main-grey);
}

.top {
  max-width: 900px;
  min-width: 300px;
  width: 100%;
  padding: 20px 25px 5px 0px;
  /* justify-content: space-between; */
  /* grid-row-start: 2; */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  margin: 0 auto;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.footer {
  height: 80px;
  /* background: #0d0b12; */
  position: fixed;
  width: 100%;
  bottom: 1px;
  z-index: 101;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  background: white;
  border-top: 1px solid var(--light-grey);
}

.main .r {
  background: red;
}

.svg__info {
  width: 15px;
  fill: var(--main-grey);
}
.feature__select-inner {
  display: flex;
  position: relative;
}

.load-track_wrapper, .external-link_wrapper {
  width: 20px;
  align-self: center;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.load-track_svg, .external-link_svg {
  vertical-align: middle;
  fill: var(--main-grey);
}

.sort__wrapper {
  color: var(--main-grey);
  cursor: pointer;
  align-self: flex-end;
  padding-bottom: 5px;
  margin-right: 15px;
}

/* brand color: #9dc6d0 */


@media screen and (max-width: 900px) {
	.menu-toggle {
		display: none;
	}
	.feature-main_wrapper {
    border: none;
    border-radius: 0px;
  }
  .feature-description {
    border-radius: 0px;
  }
  .top {
    padding: 0px 25px 0px 0px;
  }
}

@media screen and (max-width: 710px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
  }
  
  .search-inner {
    width: min-content;
  }

  .search-prompt.bar {
    display: none;
  }

  .feature-description {
    padding-left: 10px;
  }

  .top {
    padding: 0;
  }

  .track__img__wrapper {
    height: 130px;
  }

  .track__img {
    height: 130px;
  }

  .track-feature-row {
    padding: 4px 10px;
    margin: 0px;
  }
  .track-feature-row {
    grid-template-rows: 23px 23px;
    grid-template-columns: 35px 1fr auto;
  }
  .track-feature_info-wrapper {
    position: relative;
    justify-self: center;
  }

  .track-feature_checkbox-wrapper {
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: center;
    vertical-align: middle;
    justify-self: center;
  }
  .track-feature_checkbox {
    vertical-align: middle;
    justify-self: center;
    margin: 0;
  }
  .numerical {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 20px;
  }

  .text-val {
    grid-column-start: 2;
    grid-row-start: 2;
    height: 20px;
  }

  .attribute {
    text-align: left;
  }

  .feature-row {
    margin: 0;
    padding: 4px 10px 4px 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 40px 1fr auto;
  }
  .load-track_wrapper, .external-link_wrapper {
    grid-column-start: 1;
    margin: 0;
    justify-self: center;
  }
  .external-link_wrapper {
    margin-bottom: 3px;
  }

  .rel-track_text {
    grid-row-start: 1;
    grid-column-start: 2;
  }
  .rel-track_name, .rel-track_artist {
    text-align: left;
  }
  .rel-track_val {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    height: 8px;
  }
  .sort__wrapper {
    margin-right: 3px;
  }
  .feature-description {
    padding: 4px 10px;
  }
  .header-artist {
    font-size: 18px;  
  }
  .header__track-title {
    font-size: 24px;
  }
  .feature__wrapper {
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
	.header__load-track-btn {
    width: 165px;
    font-size: 12px;
    height: 30px;
  }

  .feature__header-info-text {
    font-size: 16px;
  }

  .rel-track__btn {
    width: 165px;
    height: 30px;
    font-size: 12px;
  }
  .track__img {
    height: 100px;
    min-width: 100px;
  }
  .track__img__wrapper {
    height: 100px;
  }
  .header__track-title {
    font-size: 20px;
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 40%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
