/* .App {
  text-align: center;
} */

body {
  font-family: avenir;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.track-wrapper {
  border-bottom: 1px solid #d2d2d2;
    padding: 8px;
    color: #797979;
    font-family: avenir;
    cursor: pointer;
}


.track-wrapper:hover {
  background: #33b9ff;
  color: white;
}

.track-artists {
  font-size: 12px;
}
.track-name {
  font-size: 16px;
}

.searchResults {
  max-width: 800px;
  margin: 0 auto;
}

.side-bar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 320px; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
