p {
  margin: 0;
}

body {
  font-family: avenir;
}

.App {
  /* display: grid;
  grid-template-rows: auto 205px auto auto; */
  padding-bottom: 90px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.search {
  /* grid-column: span 2; */
}

.search-input {
  color: gray;
    font-size: 26px;
    border-style: none;
    background: #e8e8e8;
    border-radius: 4px;
    margin: 8px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f6f6;
  border-bottom: 1px solid #dedede;
}

.search-form {
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.search-button {
  color: white;
  background: #639fff;
  width: 80px;
  padding: 5px;
  font-size: 15px;
  font-family: avenir;
  border-radius: 4px;
  border: none;
}

.search-prompt {
  color: #848383;
  display: inline-flex;
}

.header {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 5px;
}

.header-artist {
  font-size: 22px;
  color: #888888;
}

.header__text {
  display: inline-block;
}

.header__track-title {
  margin: 0;
  font-size: 34px;
  color: #484747;
}

.feature-main_wrapper {
  margin: 0px auto;
  border: 1px solid #cecece;
  border-radius: 8px;
  max-width: 900px;
}

.track-wrapper {
  border-bottom: 1px solid #d2d2d2;
    padding: 8px;
    color: #797979;
    font-family: avenir;
    cursor: pointer;
}

.rel-track__btn {
  width: 220px;
  height: 36px;
  background: white;
  color: #888686;
  border: 1px solid #cecece;
  margin-top: 6px;
  border-radius: 30px;
  margin-bottom: 5px;
  font-size: 16px;
  vertical-align: text-bottom;
  display: inline-block;
}
.rel-track__btn:focus {
  outline:0;
}


.track-wrapper:hover {
  background: #33b9ff;
  color: white;
}

.track-artists {
  font-size: 12px;
}
.track-name {
  font-size: 16px;
}

.searchResults {
  max-width: 800px;
  margin: 0 auto;
}

.side-bar {
  grid-row-start: 3;
  grid-column-start: 1;
  margin: 0px 16px;
}

.track-features, .related-tracks {
  max-width: 900px;
  min-width: 300px;
  width: 100%;
  /* grid-row-start: 4; */
  margin: 0 auto;
}

.graph-bar {
  background: rgb(180,123,91);
  background: linear-gradient(90deg,hsla(0, 0%, 100%, 0.45) 0%, hsl(191, 100%, 76%) 100%);

  border-radius:20px;
  height: 18px;
  display: inline-block;
  /* position: absolute;
  margin-left: 180px; */
  transition: width 0.5s;
}

.attribute {
  margin-top: 5px;
  margin-right: 15px;
  vertical-align: top;
  text-align: right;
}

.feature-row {
  display: grid;
  padding: 4px 0px;
  grid-template-columns: 180px 1fr 40px;
  grid-template-rows: auto 1fr auto;
  border-bottom: 1px solid #d6d6d6;
  margin: 0px 25px;
}

.track-feature-row {
  display: grid;
  padding: 4px 0px;
  grid-template-columns: 15px 165px auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  border-bottom: 1px solid #d6d6d6;
  margin: 0px 25px;
}
.track-feature-row:hover .numerical {
  opacity: 1;
}

.track-feature-row .svg__info {
  vertical-align: bottom;
}

.track-feature_info-wrapper {
  position: relative;
}

.numerical {
  opacity: 0;
}


.track__img__wrapper {
  max-width: 200px;
  max-height: 200px;
}

.track__img {
  max-width: 100%;
  min-width: 120px;
}

.rel-track_name {
  margin: 0; 
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rel-track_name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.rel-track_artist {
  margin: 0;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rel-track_text {
  width: 160px;
  min-width: 160px;
  margin-right: 15px;
  font-size: 14px;
}

.related-tracks .graph-bar {
  margin-top: 10px;
}

.track-features .graph-bar {
  margin-top: 6px;
}

.musical-key {
  margin-top: 9px;
}

.track-feature_checkbox {
  margin-right: 15px;
}

.feature-description {
  /* grid-row-start: 3; */
  padding: 6px 0px 6px 0px;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 25px;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 300px;
  width: 100%;
  padding-left: 205px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-right: 25px;
  background: #f3f3f3;
  border-radius: 8px 8px 0px 0px;
}

.feature-description__wrapper {
  align-self: flex-end;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 7px;
  position: absolute;
  width: 300px;
  right: 0px;
  top: 25px;
  background: white;
}


.feature__wrapper-outer {
  width: 100%;
}

.feature__wrapper {
  padding: 5px 0px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 
.feature__select select {
  display: block;
} */

.feature__select-text {
  font-size: 14px;
  color: #888686;
}

.feature__select-dropdown {
  display: block;
  color: #888686;
  border: none;
 }
.feature__header-text {
  width: 200px;
}

.feature__header-info-text {
  font-size: 22px;
  font-weight: 300;
  color: #888686;
  max-width: 300px;
}

.feature__header-info-track {
  font-size: 20px;
  font-weight: 300;
  color: #888686;
}

.feature-description__title {
  font-size: 16px;
  margin-top: 5px;
}

.feature-description__text {
  margin: 5px 0px;
  font-size: 12px;
}

.top {
  max-width: 900px;
  min-width: 300px;
  width: 100%;
  padding: 20px 25px 5px 0px;
  /* justify-content: space-between; */
  /* grid-row-start: 2; */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  margin: 0 auto;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.footer {
  height: 80px;
  /* background: #0d0b12; */
  position: fixed;
  width: 100%;
  bottom: 1px;
  z-index: 101;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  background: white;
  border-top: 1px solid #cecece;
}

.main .r {
  background: red;
}

.svg__info {
  width: 15px;
  fill: #888686;
}
.feature__select-inner {
  display: flex;
  position: relative;
}


/* brand color: #9dc6d0 */